# Amazon Web Scraping project

In [2]:
# Import libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import time, datetime
import smtplib # sending emails to yourself

In [79]:
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_14?crid=3ACJDJG65EK7N&dib=eyJ2IjoiMSJ9.7re9JZr8V5MQIB5qK-9-CnfWY9Ljk7FHOOq43qtUswj7QN5ugOEn4ISAkS8edsoa4nUnbBMwjbyabtegK01iNwAIlnuMovMfSQOPaQln36ih7lEmwVw-LxKiL3TTMzEHPnIzQpFdY2QDQxKABe2z38twsv8YSS3A01oGBv5PdHCwZ6TTfPwAyBzZyuDbd6DfwONNL_7HVJFGOw6ngYyevJz9iLXf13lhLda0oKBA51BSjWL8Q5uUTVf1vhW0EeX3jh9Q6m8Coka-vy88JXZwd5HmfQ33Un1f5XOc1kDcJQk.zxWfP6xBw2HAxSDrgAva7jlJtWS--O267vuPLeoBs7c&dib_tag=se&keywords=data%2Banalyst%2Bshirt&qid=1728891516&sprefix=data%2Banalyst%2Bshir%2Caps%2C514&sr=8-14&customId=B07535YC9M&customizationToken=MC_Assembly_1%23B07535YC9M&th=1&psc=1'

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').getText()

price = soup2.find(id='corePriceDisplay_desktop_feature_div').get_text(strip=True)



# product_title = soup2.find(id='productTitle')
# # print(product_title)
# if product_title is not None:
#     title = product_title.get_text(strip=True)
# else:
#     title = "Not found"

$16.99$16.99

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [83]:
price = price.strip()[6:]
title = title.strip()

print(price)
print(title)

$16.99
Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [90]:
import datetime
today  = datetime.date.today()
print(today)

2024-10-18

In [98]:
# import csv
# header = ['Title', 'Price', 'Date']
# data = [title, price, today]

# with open('AmazonWebScrapingDataset.csv', 'w', newline='', encoding='UTF8') as f:
#     writer = csv.writer(f)
#     writer.writerow(header)
#     writer.writerow(data)



# this code is for appending the data automatically
#import csv

#with open('AmazonWebScrapingDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    #writer = csv.writer(f)
    #writer.writerow(data)

In [99]:
import pandas as pd

df = pd.read_csv('/Users/briankimanzi/Documents/programming Languages/PythonProgramming/Jupyter_NoteBook/AmazonWebScrapingDataset.csv')
df

                                               Title   Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  $16.99  2024-10-18
1  Funny Got Data MIS Data Systems Business Analy...  $16.99  2024-10-18
2  Funny Got Data MIS Data Systems Business Analy...  $16.99  2024-10-18

In [145]:
def check_price():
    """This function performs data 
    Updation to the excel file automatically"""
    
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_14?crid=3ACJDJG65EK7N&dib=eyJ2IjoiMSJ9.7re9JZr8V5MQIB5qK-9-CnfWY9Ljk7FHOOq43qtUswj7QN5ugOEn4ISAkS8edsoa4nUnbBMwjbyabtegK01iNwAIlnuMovMfSQOPaQln36ih7lEmwVw-LxKiL3TTMzEHPnIzQpFdY2QDQxKABe2z38twsv8YSS3A01oGBv5PdHCwZ6TTfPwAyBzZyuDbd6DfwONNL_7HVJFGOw6ngYyevJz9iLXf13lhLda0oKBA51BSjWL8Q5uUTVf1vhW0EeX3jh9Q6m8Coka-vy88JXZwd5HmfQ33Un1f5XOc1kDcJQk.zxWfP6xBw2HAxSDrgAva7jlJtWS--O267vuPLeoBs7c&dib_tag=se&keywords=data%2Banalyst%2Bshirt&qid=1728891516&sprefix=data%2Banalyst%2Bshir%2Caps%2C514&sr=8-14&customId=B07535YC9M&customizationToken=MC_Assembly_1%23B07535YC9M&th=1&psc=1'
    
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36",}
    
    page = requests.get(url, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').getText(strip=True)

    price = soup2.find(id='corePriceDisplay_desktop_feature_div').getText(strip=True)

    price = price.strip()[6:]
    
    title = title.strip()

    import datetime
    today  = datetime.date.today()

    import csv
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScrapingDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

    if(price <= 16):
        send_mail()

In [146]:
while(True):
    check_price()
    time.sleep(5)
    '86400'

AttributeError: 'NoneType' object has no attribute 'getText'

In [142]:
import pandas as pd

df = pd.read_csv('/Users/briankimanzi/Documents/programming Languages/PythonProgramming/Jupyter_NoteBook/AmazonWebScrapingDataset.csv')
df

                                               Title   Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  $16.99  2024-10-18
1  Funny Got Data MIS Data Systems Business Analy...  $16.99  2024-10-18
2  Funny Got Data MIS Data Systems Business Analy...  $16.99  2024-10-18
3  Funny Got Data MIS Data Systems Business Analy...  $16.99  2024-10-18

In [143]:
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    # server.start()
    server.ehlo()
    server.login('migelbrian3@gmail.com', 'password')

    subject = 'The shirt you want is below $15! Now is your chance to buy!'
    body = "Brian, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dream. Don't miss"
    msg = f'subject: {subject}\n\n{body}'

    server.sendmail(
        'migelbrian3@gmail.com',
        msg
    )