In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4,suppress=True)

In [2]:
import numpy as np
np.*load*?

np.__loader__
np.load
np.loadtxt

In [1]:
def add_numbers(a, b):
    """Add two numbers together
        Returns
        --------
        the sum : type of argumants
        """
    return a + b

In [4]:
add_numbers??

Signature: add_numbers(a, b)
Source:
def add_numbers(a, b):
    """Add two numbers together
        Returns
        --------
        the sum : type of argumants
        """
    return a + b
File:      /var/folders/6w/_1xx55992tqfg37yz_8bt5v80000gn/T/ipykernel_71861/3480559872.py
Type:      function

In [8]:
def append_element(some_list, element):
    some_list.append(element)

data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [12]:
a = "foo"
getattr(a, "split")

In [20]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

isiterable("A string")

True

In [19]:
import some_module as sm
from some_module import PI as pi, g as gf
r1 = sm.f(pi)
r2 = gf(6, pi)

print(r1)
print(r2)
print(pi)

5.14159
9.14159
3.14159

In [24]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
type(c)

[1, 2, 3]

In [26]:
# Mutable(objects and values that they contained can be modified eg lists and dictionaries)
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list
# immutable objects(strings, tuples Their internal data cannot be changed)
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [30]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [2]:
template = "{0:.2f} {1:s} are worth us${2:d}"
template.format(88.46, "Argentine pesos", 1)

'88.46 Argentine pesos are worth us$1'

In [3]:
val = "espanol"
val

'espanol'

In [16]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    if c is not None:
        result = result * c
    return result
add_and_maybe_multiply(a=2, b=4)

6

In [20]:
# Dates and times
from datetime import datetime, date, time
dt = datetime(year=2024, month=7, day=31, hour=1, minute=22, second=20)
# dt.date()
# dt.time()
# dt.strftime("%Y-%m-%d %H:%M:%S") # strftime method formats a datetime as a string
# datetime.strptime("20151031", "%Y%m%d") # Strings convert(parsed) into datetime objects with the strptime function
dt_hour = dt.replace(minute=0, second=0) # checking if datetime are immutable or not 
dt_hour

datetime.datetime(2024, 7, 31, 1, 0)

In [25]:
# datetime.timedelter
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt - dt2
delta
type(delta)

datetime.timedelta

In [27]:
dt + delta

datetime.datetime(2037, 4, 15, 4, 14, 40)

In [33]:
# control flow
x = -5
if x < 0:
    print("it's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

it's negative

In [42]:
# for loop
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    print(value)

1
2
4
5
[1, 2, None, 4, None, 5]

In [46]:
# a for loop with break keyword
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
    print(value)

1
2
0
4
6

In [54]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 1)
(0, 2)
(0, 3)
(1, 2)
(1, 3)
(2, 3)

In [61]:
# while loops
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
    print(f"The value of x is: {x}")
    print(f"The value of total is:{total}")

The value of x is: 128
The value of total is:256
The value of x is: 64
The value of total is:384
The value of x is: 32
The value of total is:448
The value of x is: 16
The value of total is:480
The value of x is: 8
The value of total is:496
The value of x is: 4
The value of total is:504

In [ ]:
# pass
if x < 0:
    print("Negative!")
elif x == 0:
    # TODO : put something smart here
    pass
else:
    print("Positive")

In [4]:
# A code that sums all numbers from 0 to 99999
total = 0
for i in range(100_000):
    # % is the module operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

In [1]:
# Range
# range(10)
# list(range(10))
# list(range(0, 20, 2))
# list(range(5, 0, -1))
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"Element {i}: {seq[i]}")

Element 0: 1
Element 1: 2
Element 2: 3
Element 3: 4

A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed. The easiest way to create one is with a comma-separated sequence of values wrapped in parentheses:

In [26]:
# tuples - a fixed-length immutable sequence of python objects which, o
# once assigned, connot be changed.
# tup = 4, 5, 6
# type(tup)
# tuple([1, 2, 3, 5])
# tup = tuple('string')
# tup[0]
# nested_tup = (4, 5, 6) , (7, 8)
# nested_tup [0][1]
# tup = tuple(['foo', [1, 2], True])
# tup[1].append(True)
# tup
# out = (4, None, 'foo') + (6, 0) + ('bar',)
# out
# ('foo', 'bar') * 4
# Unpacking tuples
# tup = (4, 5, 6)
# a, b, c = tup
# c
# swap
# a, b = 1, 2
# b, a =a, b
# iterating through a seq of tuples
# seq = [(1,2,3), (4,5,6), (7,8,9)]
# for a, b, c in seq:
#     print(f"a={a}, b={b}, c={c}")
# values = 1, 2, 3, 4, 5
# a, b, *_ = values
# _
# Tuple methods
a = (1,2,2,2,3,4,2)
a.count(2)
a

{1, 2, 3, 4}

lists - They are variable length and their contents can be modified in place. 
Lists are mutable. You can define them using square brackets [] or using the list type function

In [18]:
# a_list = [2, 3, 7, None] # first method of defining a list
# tup = ("foo", "bar", "baz")
# b_list = list(tup) # second method of defining a list 
# b_list[1] = 'peekaboo'
# b_list
# gen = range(10)
# list(gen)
# Adding and removing elements
# b_list.append("dwarf") # used to add elements to a list
# b_list
# b_list.insert(1, "red") # Insert can be used to insert elements at a specific location in the list
# b_list
# b_list.pop(2)
# (b_list)
# b_list.append("foo")
# b_list
# b_list.remove("foo") # used to locate the first such value and eremoves it from the list
# b_list
# "dwarf" in b_list # checks if a list contains a value using the in keyword
# "dwarf" not in b_list # keyword not used to negate in
# [4, None, "foo"] + [7, 8, (2, 3)] # concatenating two lists
# x = [4, None, "foo"]
# x.extend([7,8,(2,3)]) # using the extend method to concatenate an existing list
# x
# a = [7, 2, 5, 1, 3]
# a.sort() # sort a list in place withiout creating a new object by calling its sort function
# a
# b = ["saw", "small", "He", "Foxes", "Six"]
# b.sort(key=len) # sort key- a function that produces a value to use to sort the objects. e.g sort a collection of strings by their lengths
# b
# seq = [7, 2, 3, 6, 3, 6, 0, 1]
# seq[1:5] # select sections of most sequence types by using slice notation
# seq[3:5]= [6, 3] # slices being assigned with a sequence
# seq
# seq[-4:]
# seq[-6:-2]
seq[::-1] # a clever use of this is to pass -1 which has the useful effects of reversing a list or tuple

[1, 0, 6, 3, 6, 3, 2, 7]

The dictionary or dict may be the most important built-in python data structure. In other programming languages, dictionaries are sometimes called Hash maps or associative arrays. A dictionary stores a collects of key-value pairs, where key and value can be conveniently Retrieved, Inserted, Modified, or Deleted given a particular key. One approach for creating a dictionary is to use curly braces {} and colons to separate keys and values

In [19]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}