# BeautifulSoup and Requests

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.scrapethissite.com/pages/forms/"

In [5]:
page = requests.get(url)

In [7]:
soup = BeautifulSoup(page.text, 'html') # retrieves the html code from the browser

In [ ]:
print(soup)

In [ ]:
print(soup.prettify())

# Find and Find_all

In [ ]:
soup.find('div')
# clean = soup.find('div')
# print(clean.prettify())

In [ ]:
soup.find_all('p', class_ = 'lead')

In [21]:
soup.find('p', class_ = 'lead').text.strip() # removes white spaces on a data

'Browse through a database of NHL team stats since 1990. Practice building a scraper that handles common website interface components.\n                            Take a look at how pagination and search elements change the URL as your browse. Build a web scraper that can conduct searches and paginate through the results.'

In [24]:
soup.find_all('th')

[<th>
                             Team Name
                         </th>,
 <th>
                             Year
                         </th>,
 <th>
                             Wins
                         </th>,
 <th>
                             Losses
                         </th>,
 <th>
                             OT Losses
                         </th>,
 <th>
                             Win %
                         </th>,
 <th>
                             Goals For (GF)
                         </th>,
 <th>
                             Goals Against (GA)
                         </th>,
 <th>
                             + / -
                         </th>]

In [25]:
soup.find('th').text.strip()

'Team Name'

# Scraping Data from a Real Website(wikipedia) + pandas

In [1]:
from bs4 import BeautifulSoup
import requests

In [81]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
# url_Caused_Me_A_lot_of_pain = "https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue"
page = requests.get(url)
print(page)

<Response [200]>

In [ ]:
soup  = BeautifulSoup(page.text + 'html')
print(soup)

In [110]:
# unwanted_things = {"scope":"row"}
# for attr in unwanted_things.keys():
#     table.attrs.pop(attr, None)
# print(table)
soup.find('table', class_ ="wikitable sortable")

In [ ]:
table = soup.find_all('table')[0]
print(table)

In [ ]:
world_titles = table.find_all('th')
world_titles

In [86]:
world_tables_titles = [title.text.strip() for title in world_titles]
print(world_tables_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [87]:
import pandas as pd

In [89]:
df = pd.DataFrame(columns = world_tables_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [ ]:
columns_data = table.find_all('tr')

In [107]:
for row in columns_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data

In [108]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
295,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
296,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
297,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
298,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
299,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [109]:
df.to_csv('/Users/briankimanzi/Documents/programming Languages/PythonProgramming/webscrapping/company.csv', index=False)